<div class="header-container full-page">
  <div class="brand-bar">
    <div class="logo"><%= link_to 'The Roulette Test', surveys_path %></div>
  </div>
  <h1>Nope. We got nuthin' for that. <br/>Maybe check that link?</h1>
</div>
