<div class="header-container full-page">
  <div class="brand-bar">
    <div class="logo"><%= link_to 'The Roulette Test', surveys_path %></div>
  </div>
  <h1>Sorry but there's a problem with that page. <br/>Please try again later.</h1>
</div>
