<div id="runoff-set" class="options-set options-set-<%= sets_count + 1 %>">

  <div class="step-title"><em>Pick a winner</em></div>

  <% @sets_count.times do |index| %>
    <div class="option-block" id="runoff-option-<%= index + 1 %>">
    </div>
  <% end %>

</div>
