<div class="tools">
  <% if params[:mysecretcode] == @survey.mysecretcode %>
  <%= link_to 'Edit this test', edit_survey_path(@survey, mysecretcode: @survey.mysecretcode) %> &nbsp;&nbsp;&nbsp;
  <%= link_to 'Delete this test', survey_path(@survey), method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;&nbsp;&nbsp;
  <%= link_to 'View results', [:results, @survey, mysecretcode: @survey.mysecretcode] %>
  <% end %>
</div>
