<div class="test-container">

  <div class="header-container">
    <div class="brand-bar">
      <div class="logo"><%= link_to 'The Roulette Test', surveys_path %></div>
    </div>
    <h1>Create a new test</h1>
  </div>

  <div class="test-form">
    <%= render 'form' %>
  </div>

</div>
